


	body {
	background: #240115;
	font-family: "Baskervville";
	color :#87F5FB;
}
img {
	border-radius: 50%;
	width:200px;
	height: 200px;
}
#logo {
	width: 100px;
	height: 100px;
}
header * {
	font-family: 'Baskervville', serif;
}
nav p a {
	text-decoration: none;
	color: #D6E5E3;
	padding-right:10px;
	margin:5px;
	border:#ddd 0.5px solid;
}

nav p a:hover { border: black 0.5px solid; 
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color:#351E29; 
}